#display-name-form {
	margin-left: .3rem;
	margin-right: .3rem;

	margin-top: 1.2rem;
	padding-top: 10px;
	padding-bottom: 15px;

	background-color: #20A4F3;
	border: solid 1px white;
}

#display-color-form {
	margin-left: .3rem;
	margin-right: .3rem;

	margin-top: 1.2rem;
	padding-top: 10px;
	padding-bottom: 15px;

	background-color: #20A4F3;
	border: solid 1px white;
}
#color-font {
	background-color: white;
}

#delete-account-form {
	margin-left: .3rem;
	margin-right: .3rem;

	margin-top: 1.2rem;
	padding-top: 10px;
	padding-bottom: 15px;

	background-color: #20A4F3;
	border: solid 1px white;
}
form {
	border: none;
	margin: 0;
}